.quote {
  height: auto;
  margin-bottom: 15px;
  padding: 0px 15px;
}

img {
  height: 150px;
}

h1 {
  font-family: "Dancing Script", cursive;
  margin: 20px 0px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.author {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}
